In [ ]:
#Task: Write a function to count the number of vowels in a given string.


def count_vowels(sss):
  vowels = ('a','e','i','o')
  vowel_count = 0
  for i in sss:
     if i in vowels:
      vowel_count +=1
  return vowel_count

sss = ("rasheed, mohammad, rasheed")
rr = count_vowels(sss)
print(rr)

9

In [ ]:
#Task: Write a function that takes a string and returns the same string but with every second letter capitalized.
def cap(strr):
    ll = ""
    for i, lh in enumerate(strr):
        if i % 2 == 1:
            ll += lh.upper()
        else:
            ll += lh
    return ll


strr = "hello world"
oop = cap(strr)
print(oop)

hElLo wOrLd

In [ ]:
#Task: Write a function that takes two sets and returns their intersection as a new set.

def lol_so(moh,ra):

  into_set = moh.intersection(ra)
  return into_set
moh = {1,2,3,4,5,6,7}
ra = {2,7,10,50,4,1}
rr = lol_so(moh , ra)
print(rr)

{1, 2, 4, 7}

In [ ]:
#Task: Write a function that takes two sets and returns their union as a new set.

def so_lol(mor , ars):
  oo_set = mor | ars
  return oo_set
mor = {5,6,8,0,4,2,1}
ars = {7,10,3,2,9,1}
loll = so_lol(moh , ars)
print(loll)

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [ ]:
#Task: Write a function that takes a list of tuples and sorts them based on the second element of each tuple.

def top(tuple_list):
  tp_list =sorted(tuple_list , key=lambda y: y[1])
  return tp_list

tuple_list = [(2,7),(5,3),(3,9),(6,1)]
tpp_list = top(tuple_list)
print(tpp_list)

[(6, 1), (5, 3), (2, 7), (3, 9)]

In [ ]:
#Task: Write a function that takes a tuple and returns a reversed version of that tuple.
def revv(mohha):
    rasheed = mohha[::-1]
    return rasheed

tpppp = (1, 2, 3, 4, 5,7,8,9,11,31,12)
rasheed = revv(tpppp)
print(rasheed)

(12, 31, 11, 9, 8, 7, 5, 4, 3, 2, 1)

In [ ]:
#Task: Write a function that takes a dictionary and returns the keys and values as separate lists.

def dict (input_dict):
    keys_list = list(input_dict.keys())
    values_list = list(input_dict.values())
    return keys_list, values_list


my_dict = {'a': 1, 'b': 2, 'c': 3}
keys, values = dict(my_dict)
print("Keys:", keys)
print("Values:", values)

Keys: ['a', 'b', 'c']
Values: [1, 2, 3]